.myProfile {
    background: url("/src/img/myProfilePage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
  }

  .background {
    background-color: rgba(0, 0, 0, 0.603);
  }
  
  .cssBold {
    font-weight: bold;
  }